*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 20px auto;
  padding-top: 100px;
  background-color: rgb(253, 193, 82);
}

img {
  vertical-align: middle;
}